<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>User DashBoard Page</title>
</head>
<body>
	<section>
		<h1 class="text-center">Welcome <span th:text="${user.name}"></span> !!</h1>
		
		<div class="container">
			<div class="card">
				<div class="card-body my-5">
					<div class="container text-center">
						<img alt="profile" src="" style="height: 200px; width:200px;" class="my_profile_picture" th:src="@{/img/Contact.jpg}">
					</div>
					<h1 class="text-center mt-3 text-secondary font-italic">Start Adding Your Contact on Cloud...</h1>
					<a th:href="@{add-contact(name=${user.name})}" class="btn btn-primary btn-block text-uppercase mt-4">Add New Contact</a>
					
				</div>
			</div>
		</div>
	</section>
	
</body>
</html>